<% provide(:title, "About") %>
<h1>Tentang</h1>
<p>
 

web ini dibuat untuk penelitian dan sarana berbagi informasi yang bermanfaat serta menjadi pembelajaran bagi orang - orang yang mau belajar bahasa pemrograman ruby on rails
   
   </p>
            