<% provide(:title, "Help") %>
<h1>Bantuan</h1>
<p>
 cara penggunaan web ini sebagai berikut :
 1.ssfddfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
 
</p>