<footer class="footer">
  <small>
Sosmed By Reno
  </small>
  <nav>
    <ul>
      <li><%= link_to "Tentang",   about_path %></li>
      <li><%= link_to "Kontak", contact_path %></li>
      <li><a href="https://www.google.co.id">Google</a></li>
    </ul>
  </nav>
</footer>